<form class="form" *ngIf="disabilita" (submit)="submit()" #formDisabilita="ngForm" novalidate>
  <p class="title">Modifica Disabilità</p>
  <p class="message">Modifica la descrizione</p>

  <!-- Riga 1: Nome -->
  <div class="row mb-3">
    <div class="col-6 d-flex gap-2">
      <label class="flex-fill d-flex flex-column">
        <span>Categoria</span>
        <input
          class="form-control"
          type="text"
          [value]="disabilita?.categoria?.nome"
          readonly
        />
      </label>
    </div>
  </div>

  <!-- Riga 2: Descrizione -->
  <div class="row mb-3" style="min-height: 40vh">
    <div class="col d-flex flex-column">
      <label class="flex-grow-1 d-flex flex-column">
        <span>Descrizione</span>
        <textarea
          class="form-control flex-grow-1"
          required
          name="descrizione"
          rows="6"
          autocomplete="off"
          [(ngModel)]="disabilita!.descrizione"
        ></textarea>
      </label>
    </div>
  </div>

  <button
    class="btn btn-primary confirm-btn"
    type="submit"
    [disabled]="!formDisabilita.valid"
  >
    Conferma
  </button>
</form>
