
<div class="login container">
  <div class="login-box">
    <form class="form-login" #form="ngForm" novalidate>
      <div class="logo"></div>

      <span class="header" *ngIf="!tipo">Login</span>

      <input
        type="text"
        placeholder="Username"
        class="input"
        [(ngModel)]="username"
        name="username"
        #usernameModel="ngModel"
        required
        [ngClass]="{ 'input-error': usernameModel.invalid && usernameModel.touched }"
      />

      <input
        type="password"
        placeholder="Password"
        class="input"
        [(ngModel)]="password"
        name="password"
        autocomplete="off"
        #passwordModel="ngModel"
        required
        [ngClass]="{ 'input-error': passwordModel.invalid && passwordModel.touched }"
      />
      
      

      <button
        type="button"
        class="button sign-in"
        *ngIf="!tipo"
        (click)="signIn()"
        [ngClass]="{ 'button-disabled': !form.valid}"
      >
        Accedi
      </button>
     

    </form>
  </div>
</div>
