<div class="login container">
  <div class="login-box">
    <form class="form-login" #form="ngForm" novalidate>
      <div class="logo"></div>

      <span class="header" *ngIf="!tipo">Login</span>
      <span class="header" *ngIf="tipo === 'SingUp'">Registrati</span>

      <input
        type="text"
        placeholder="Username"
        class="input"
        [(ngModel)]="username"
        name="username"
        #usernameModel="ngModel"
        required
        [ngClass]="{ 'input-error': usernameModel.invalid && usernameModel.touched }"
      />

      <input
        *ngIf="tipo === 'SingUp'"
          type="email"
          placeholder="Email"
          class="input"
          [(ngModel)]="email"
          name="email"
          #emailModel="ngModel"
          required
          email
          [ngClass]="{ 'input-error': emailModel.invalid && emailModel.touched }"
        />


      <input
        type="password"
        placeholder="Password"
        class="input"
        [(ngModel)]="password"
        name="password"
        autocomplete="off"
        #passwordModel="ngModel"
        required
        [ngClass]="{ 'input-error': passwordModel.invalid && passwordModel.touched }"
      />


      <button
        type="button"
        class="button sign-in"
        *ngIf="!tipo"
        (click)="signIn()"
         [ngClass]="{ 'button-disabled': !form.valid}"
      >
        Accedi
      </button>
      <button
        type="button"
        class="button sign-in"
        *ngIf="tipo === 'SingUp'"
        (click)="signUp()"
        [ngClass]="{ 'button-disabled': !form.valid}"
      >
        Crea
      </button>

      <div class="footer" *ngIf="!tipo">
       Non hai un account?
        <span class="link" (click)="ChangeSignUp()">Registrati</span><br />
      </div>

      <div class="footer" *ngIf="tipo === 'SingUp'">
        Hai già un account?
        <span class="link" (click)="ChangeSignIn()">Accedi</span><br />
      </div>
    </form>
  </div>
</div>
