<form class="form" (submit)="submit()">
  <p class="title">Crea Categoria</p>
  <p class="message">Completa tutti i campi</p>

  <div class="container">
    <!-- Riga 1 -->
    <div class="row mb-3">
      <div class="col-6 d-flex gap-2">
        <label class="flex-fill d-flex flex-column">
          <span>Nome</span>
          <input
            class="form-control flex-grow-1"
            type="text"
            required
            [(ngModel)]="formData.nomeStruttura"
            name="nomeStruttura"
          />
        </label>

        <label class="flex-fill d-flex flex-column">
          <span>Ambito</span>
          <input
            class="form-control flex-grow-1"
            required
            [(ngModel)]="formData.ambito"
            name="ambito"
          />
        </label>
      </div>

      <div class="col-6 d-flex gap-2">
        <label class="flex-fill d-flex flex-column">
          <span>Città</span>
          <input
            class="form-control flex-grow-1"
            type="text"
            required
            [(ngModel)]="formData.citta"
            name="citta"
          />
        </label>

        <label class="flex-fill d-flex flex-column">
          <span>Provincia</span>
          <input
            class="form-control flex-grow-1"
            type="text"
            required
            [(ngModel)]="formData.provincia"
            name="provincia"
          />
        </label>

        <label class="flex-fill d-flex flex-column">
          <span>Via</span>
          <input
            class="form-control flex-grow-1"
            type="text"
            required
            [(ngModel)]="formData.via"
            name="via"
          />
        </label>
      </div>
    </div>

    <!-- Riga 2: Descrizione più alta -->
    <div class="row mb-3" style="min-height: 15vh">
      <div class="col d-flex flex-column">
        <label class="flex-grow-1 d-flex flex-column">
          <span>Descrizione</span>
          <input
            class="form-control flex-grow-1"
            type="text"
            required
            [(ngModel)]="formData.descrizione"
            name="descrizione"
          />
        </label>
      </div>
    </div>
    <!-- Riga 3: Testi Semplici -->
    <div class="row mb-3" style="min-height: 15vh">
      <div class="col d-flex flex-column">
        <label class="flex-grow-1 d-flex flex-column">
          <span>TestiSemplici</span>
          <input
          class="form-control flex-grow-1"
          type="text"
            required
            name="testiSemplici"
            [(ngModel)]="formData.testiSemplici"
            placeholder=".."
          />
        </label>
      </div>
    </div>
    <!-- Riga 4: Posizione e Social -->
    <div class="row mb-3">
      <div class="col-6">
        <label class="d-flex flex-column">
          <span>Posizione</span>
          <input
            class="form-control"
            type="text"
            [(ngModel)]="formData.posizione"
            required
            name="posizione"
          />
        </label>
      </div>

      <div class="col-6">
        <label class="d-flex flex-column">
          <span>Social</span>
          <input
            class="form-control"
            type="text"
            [(ngModel)]="formData.social"
            name="social"
          />
        </label>
      </div>
    </div>
<!-- Riga 5: input + bottone in basso a destra -->
    <div class="row mb-3">
      <div class="col-8">
        <label for="file" class="custum-file-upload d-flex flex-column">
          <div class="text">
            <span>Premi per caricare un'immagine</span>
          </div>
          <input id="file" type="file"  (change)="onFileSelected($event)"/>
          <pre style="display: none;">{{ base64Image }}</pre>
        </label>
      </div>
      <div class="col-4 d-flex flex-column justify-content-end align-items-end">
        <button class="btn btn-primary" type="submit"   [disabled]="!base64Image">Conferma</button>
      </div>
    </div>
  </div>
</form>
