<form class="form" (submit)="submit()" #strutturaForm="ngForm" novalidate>
  <p class="title">Crea Struttura</p>
  <p class="message">Completa tutti i campi (tutti obbligatori)</p>

  <div class="container">
    <!-- Riga 1 -->
    <div class="row mb-3">
      <div class="col-6 d-flex gap-2">
        <label class="flex-fill d-flex flex-column">
          <span>Nome</span>
          <input
            class="form-control flex-grow-1"
            type="text"
            required
            [(ngModel)]="formData.nomeStruttura"
            name="nomeStruttura"
            autocomplete="off"
          />
        </label>

        <label class="flex-fill d-flex flex-column">
          <span>Ambito</span>
          <input
            class="form-control flex-grow-1"
            required
            [(ngModel)]="formData.ambito"
            name="ambito"
            autocomplete="off"
          />
        </label>
      </div>

      <div class="col-6 d-flex gap-2">
        <label class="flex-fill d-flex flex-column">
          <span>Città</span>
          <input
            class="form-control flex-grow-1"
            type="text"
            required
            [(ngModel)]="formData.citta"
            name="citta"
            autocomplete="off"
          />
        </label>

        <label class="flex-fill d-flex flex-column">
          <span>Provincia</span>
          <input
            class="form-control flex-grow-1"
            type="text"
            required
            [(ngModel)]="formData.provincia"
            name="provincia"
            autocomplete="off"
          />
        </label>

        <label class="flex-fill d-flex flex-column">
          <span>Via</span>
          <input
            class="form-control flex-grow-1"
            type="text"
            required
            [(ngModel)]="formData.via"
            name="via"
            autocomplete="off"
          />
        </label>
      </div>
    </div>

    <!-- Riga 2: Descrizione più alta -->
    <div class="row mb-3" style="min-height: 15vh">
      <div class="col d-flex flex-column">
        <label class="flex-grow-1 d-flex flex-column">
          <span>Descrizione</span>
          <textarea
            class="form-control flex-grow-1"
            type="text"
            required
            [(ngModel)]="formData.descrizione"
            name="descrizione"
            autocomplete="off"
          ></textarea>
        </label>
      </div>
    </div>
    <!-- Riga 3: Testi Semplici -->
    <div class="row mb-3" style="min-height: 15vh">
      <div class="col d-flex flex-column">
        <label class="flex-grow-1 d-flex flex-column">
          <span>TestiSemplici</span>
          <textarea
            class="form-control flex-grow-1"
            type="text"
            name="testiSemplici"
            [(ngModel)]="formData.testiSemplici"
            placeholder=".."
            autocomplete="off"
          ></textarea>
        </label>
      </div>
    </div>
    <!-- Riga 4: Posizione e Social -->
    <div class="row mb-3">
      <div class="col-6 d-flex gap-2">
        <label class="flex-fill d-flex flex-column">
          <span>Indirizzo Completo</span>
          <input
            class="form-control flex-grow-1"
            type="text"
            [(ngModel)]="formData.Indirizzocompleto"
            required
            name="posizione"
            autocomplete="off"
          />
        </label>
        <label class="flex-fill d-flex flex-column">
          <span>Posizione (link)</span>
          <input
            class="form-control flex-grow-1"
            type="url"
            [(ngModel)]="formData.posizione"
            name="posizione"
            autocomplete="off"
            #posizioneRef="ngModel"
             pattern="https?://(www\.)?(google\.[a-z]+|goo\.gl)/.*"
            [ngClass]="{ 'is-invalid': posizioneRef.invalid && posizioneRef.touched }"
          />
        </label>
      </div>

      <div class="col-6 d-flex gap-2">
        <label class="flex-fill d-flex flex-column">
          <span>Instagram (link)</span>
          <input
            class="form-control flex-grow-1"
            type="url"
            pattern="https?://(www\.)?instagram\.com/.*"
            [(ngModel)]="formData.Instagram"
            name="instagram"
            autocomplete="off"
            #instagramRef="ngModel"
            [ngClass]="{ 'is-invalid': instagramRef.invalid && instagramRef.touched }"
          />
        </label>
        <label class="flex-fill d-flex flex-column">
          <span>Facebook (link)</span>
          <input
            class="form-control flex-grow-1"
            type="url"
            pattern="https?://(www\.)?facebook\.com/.*"
            [(ngModel)]="formData.Facebook"
            name="facebook"
            autocomplete="off"
            #facebookRef="ngModel"
            [ngClass]="{ 'is-invalid': facebookRef.invalid && facebookRef.touched }"
          />
        </label>
        <label class="flex-fill d-flex flex-column">
          <span>Sito Web (link)</span>
          <input
            class="form-control flex-grow-1"
            type="url"
            [(ngModel)]="formData.sitoWeb"
            name="sitoWeb"
            autocomplete="off"
            #sitoWebRef="ngModel"
            [ngClass]="{ 'is-invalid': sitoWebRef.invalid && sitoWebRef.touched }"
          />
        </label>
      </div>
    </div>
    <!-- Riga 5: input + bottone in basso a destra -->
    <!-- Riga 5: immagine personalizzata + didascalia + pulsante -->
    <div class="row mb-3 align-items-end">
      <!-- Input immagine personalizzato -->
      <div class="col-md-4">
        <label for="file" class="custum-file-upload d-flex flex-column" [ngClass]="{'loaded':base64Image}">
          <div class="text mb-1" >
            <span *ngIf="!base64Image">Carica immagine</span>
            <span *ngIf="base64Image">Immagine caricata con successo</span>
          </div>
          <input
            id="file"
            type="file"
            (change)="onFileSelected($event)"
            style="cursor: pointer"
          />
        </label>
      </div>

      <!-- Didascalia -->
      <div class="col-md-5">
        <label class="d-flex flex-column">
          <span class="mb-1">Didascalia</span>
          <textarea
            type="text"
            class="form-control"
            name="didascaliaImmagine"
            [(ngModel)]="formData.didascaliaImmagine"
            autocomplete="off"
          ></textarea>
        </label>
      </div>

      <!-- Bottone "Conferma" -->
      <div class="col-md-3 d-flex justify-content-end">
        <button
          class="btn btn-primary mt-3 mt-md-0"
          type="submit"
          [disabled]="!strutturaForm.valid"
        >
          Conferma
        </button>
      </div>
    </div>
  </div>
</form>
