<form class="form">
  <p class="title">Crea Struttura</p>
  <p class="message">Completa tutti i campi</p>
  <div class="flex">
    <label>
      <input class="input" type="text" placeholder="" required="" />
      <span>Nome</span>
    </label>

    <label>
      <input class="input" required="" />
      <span>Ambito</span>
    </label>

    <label>
      <input class="input" type="text" placeholder="" required="" />
      <span>Descrizione</span>
    </label>

    <label>
      <input class="input" type="text" placeholder="" required="" />
      <span>Citta</span>
    </label>
    <label>
      <input class="input" type="text" placeholder="" required="" />
      <span>Provincia</span>
    </label>
    <label>
      <input class="input" type="text" placeholder="" required="" />
      <span>Via</span>
    </label>
    <label>
      <input class="input" type="text" placeholder="" required="" />
      <span>Posizione</span>
    </label>
    <label>
      <input class="input" type="text" placeholder="" required="" />
      <span>Social</span>
    </label>
  </div>

  <label for="file" class="custum-file-upload"> 
    <div class="text">
      <span>Premi per caricare un immagine</span>
    </div>
    <input id="file" type="file" />
  </label>
  <button class="confirm" type="submit">Conferma</button>
</form>
