
/* ========== LABEL + INPUT STILE ========== */
label {
  display: flex;
  flex-direction: column;
  color: #ccc;
  font-weight: 500;
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

label span {
  margin-bottom: 6px;
}

/* ========== FILE UPLOAD STILE ========== */
.custum-file-upload {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  cursor: pointer;

  align-items: center;
  justify-content: center;

  border: 2px dashed #e8e8e8;
  border-radius: 10px;

  background-color: #212121;

  padding: 1vh;

  box-shadow: 0px 48px 35px -48px #e8e8e8;

  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custum-file-upload:hover {
  background-color: #2a2a2a;
  border-color: #00bfff;
}

.custum-file-upload .text {
  font-weight: 400;
  color: #e8e8e8;
  text-align: center;
}

.custum-file-upload input {
  display: none;
}


.is-invalid{
  color: #e13a3a;

  text-decoration: line-through;
}



