<form class="form" #formPassword="ngForm" (ngSubmit)="submit()" novalidate>
  <p class="title">Cambia Password</p>
  <div class="row mb-3">
    <div class="col-6 d-flex gap-2 align-items-center">
      <label class="flex-fill d-flex flex-column mb-0">
        <span>Vecchia Password</span>
        <input
          [type]="passwordVisible['vecchiaPw'] ? 'text' : 'password'"
          class="form-control"
          required
          name="vecchiaPw"
          [(ngModel)]="vecchiaPw"
        />
      </label>
      <div class="eye-containter">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="togglePasswordVisibility('vecchiaPw')"
          aria-label="Mostra o nascondi password"
        >
          <i
            [ngClass]="
              passwordVisible['vecchiaPw'] ? 'bi bi-eye-slash' : 'bi bi-eye'
            "
          ></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-6 d-flex gap-2">
      <label class="flex-fill d-flex flex-column mb-0">
        <span>Nuova Password</span>
        <input
          [type]="passwordVisible['nuovaPw'] ? 'text' : 'password'"
          class="form-control"
          required
          name="nuovaPw"
          [(ngModel)]="nuovaPw"
        />
      </label>
      <div class="eye-containter">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="togglePasswordVisibility('nuovaPw')"
          aria-label="Mostra o nascondi password"
        >
          <i
            [ngClass]="
              passwordVisible['nuovaPw'] ? 'bi bi-eye-slash' : 'bi bi-eye'
            "
          ></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-6 d-flex gap-2 align-items-center">
      <label class="flex-fill d-flex flex-column mb-0">
        <span>Conferma Password</span>

        <input
          [type]="passwordVisible['conferma'] ? 'text' : 'password'"
          class="form-control"
          required
          name="conferma"
          [(ngModel)]="confermaPw"
        />
      </label>
      <div class="eye-containter">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="togglePasswordVisibility('conferma')"
          aria-label="Mostra o nascondi password"
        >
          <i
            [ngClass]="
              passwordVisible['conferma'] ? 'bi bi-eye-slash' : 'bi bi-eye'
            "
          ></i>
        </button>
      </div>
    </div>
  </div>

  <button
    class="btn btn-primary confirm-btn"
    type="submit"
    [disabled]="!formPassword.valid "
  >
    Conferma
  </button>
</form>


