<div class="card">
  <div class="title">Seleziona una Facilitazione</div>
  <div class="structures-wrapper" *ngIf="disabilita$ | async as disabilita">
    <label
      class="structure"
      *ngFor="let d of disabilitaFiltered(disabilita); let i = index"
    >
      <ng-container *ngIf="azione === 'disattiva'; else radioMode">
        <input
          type="checkbox"
          class="checkbox"
          [checked]="d.flgDisabilita"
          [disabled]="azione === 'disattiva' && d.categoria.flgDisabilita"
          [name]=`strutturaCheckbox${i}`
          (change)="onToggleCheckbox(d)"
        />
      </ng-container>

      <ng-template #radioMode>
        <input
          type="radio"
          class="radio"
          name="disabilitàSelection"
          (change)="onClickDisabilita(d)"
        />
      </ng-template>
      <span>{{ d.categoria.nome }} - {{ d.descrizione }}</span>
    </label>
  </div>
</div>
